/*
go to the README.md file.
this project muct use:
USE CSS FLEXBOX
USE CSS GRID
REACT  ;-;  gotta finally start learning REACT 
NEXT.JS
STYLED COMPONENTS (link in readme.md)
*/


/* inter-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  }
   /* css for the whole page */
  * {
    font-family: 'Inter';
  }
  
/* Main color options */
:root {
    --background-color: black;
    --main-box-color: rgb(38, 38, 36);
    --button-color: #4C4C4C;
    --location-color: limegreen;
    --all-other-text: white;
}

body {
    background-color: var(--background-color);
    font-size: 0.875em;
}

.content-box {
    background-color: var(--main-box-color);


    display: flexbox;
    width: 20rem;
    height: 35rem;

    margin: 10% auto;
    /*padding: 5rem;*/

    font-family: 'Inter';
    color: var(--all-other-text);

    border-radius: 7px;
}

/* User Image Styles */
.user-image {
    border-style: transparent;
    border-radius: 50%;

    display: block;

    margin-right: auto;
    margin-left: auto;
    padding-top: 2em;
    padding-bottom: 2em;    

    
    height: 7em;
    width: 7em;

}

/* JESSICA RANDAL  */
.user-name {
    margin-top: -.4em;
    font-size: 2em;
    text-align: center;
    display: flexbox;
}

.location {

    color: var(--location-color);
    font-size: 1.1em;
    text-align: center;
}

.quote {
    font-size: .8em;
    text-align: center;
}


/* location of parent "the-links-ul" for "link" buttons */


.the-links-ul {

    margin-right: auto;
    margin-left: auto;

    display: flex;
}



.link {
    background-color: var(--button-color);
    /*min-height: 1em;
    min-width: 15em;*/
    display: grid;
    border: none;
    border-radius: 7px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    justify-content: center;

    padding: 15px;
    
    text-align: center;
    text-decoration: none;
    font-size: 0.875em;
    
    
    cursor: pointer;

    color: var(--all-other-text);

    font-family: 'Inter';
}

.link:hover {
    background: var(--location-color);
}

/* bottom of the page */
.attribution {
    text-align: center;
    color: var(--all-other-text);
    font-size: .9em;
}
